@import "../index";

.main-section {
  flex-grow: 1;
  height: 100%;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: "desc daily" "hourly daily" "air daily";
}

.cities-section {
  flex-grow: 1;
  height: 100%;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: "cities desc" "cities hourly" "cities daily";

}
