@import "../../index";

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bgSecondary;
  border-radius: $borderRadius;
  padding: 2rem 1rem;
  flex: 0 1 8%;

  &__logo {
    flex-basis: 17%;

    img {
      width: 4rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
  }

  &__theme, &__links-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: $colorPrimary;
    font-weight: 700;
    cursor: pointer;

    img {
      width: 2rem;
    }
  }
}
