@import "../../index";

.search {
  width: 60%;
  padding: 20px 25px;
  border-radius: $borderRadius;
  background-color: $bgSecondary;
  display: flex;
  align-items: center;
  gap: 20px;

  &__input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 700;
    color: $colorSecondary;
    letter-spacing: 0.4px;
  }
}