@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$bgPrimary: rgb(9, 15, 24);
$bgSecondary: rgb(26, 34, 47);
$colorPrimary: rgb(223, 226, 232);
$colorSecondary: rgb(120, 123, 129);
$tertiary: rgba(0, 119, 204);
$borderRadius: 30px;

[data-theme='light'] {
  $bgPrimary: rgb(245, 245, 245);
  $bgSecondary: rgb(227, 230, 235);
  $colorPrimary: rgb(32, 43, 59);
  $colorSecondary: rgb(163, 168, 176);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

body {
  background-color: $bgPrimary;
  color: $colorPrimary;
  font-family: 'Montserrat', sans-serif;
  height: calc(100vh - 50px);
  overflow: hidden;
  margin: 1.5rem 2rem;
}

.wrapper {
  display: flex;
  gap: 1.5rem;
  height: 100%;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.btn {
  background-color: $tertiary;
  color:  $colorPrimary;
  padding: 8px 20px;
  border-radius: $borderRadius;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}